<html>

<head>
  <title>Code Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/styles/codeeditor.css" />
</head>

<body>

  <p hidden id="projectId"></p>

  <% if(project !=null){ %>
  <form action="/users/5f77602cef04c10bf9618c96/projects/<%= project._id %>?_method=PUT" method="POST">
    <%  }else{  %>
      <form action="/users/5f77602cef04c10bf9618c96/projects" method="POST">
        <% } %>
    <textarea id="html" placeholder="HTML" name="code_html"></textarea>

    <textarea id="css" placeholder="CSS" name="code_css"></textarea>
    <textarea id="js" placeholder="JavaScript" name="code_js"></textarea>
    <input type="hidden" name="owner_id" value="5f77602cef04c10bf9618c96">
    
    <label for="name">
      <input type="text" name="name" id="projectName" value="<%= project ? project.name : null %>" required>
      <input type="submit" value="save">
    </label>
  </form>

  <iframe id="code"></iframe>

  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

  <script>
  const socket = io("http://localhost:4000/");
    socket.on('connect', function(data){
      const projectId = document.getElementById("projectId").value;
       if(projectId){
         console.log("projectId", projectId);
       }
     });
     socket.on('data', function(data){
     console.log("data",  data);
     });
     socket.on('error', function(data){
     console.log("error",  data);
     });
     socket.on('disconnect', function(){
     console.log("disconnected");
    });
  </script>

  <script type="text/javascript" src="/js/codeeditor.js"></script>
  <% if(project !=null){ %>
  <script>
    document.getElementById("html").value = ` <%- project.code_html %>`;
    document.getElementById("css").value = `<%- project.code_css %>`;
    document.getElementById("js").value = `<%- project.code_js %>`;
    document.getElementById("projectId").value = `<%- project.id %>`;

    manipulateIframe();

  </script>
  <% } %>
</body>

</html>